USE [HvkK22CNT4Lesson10Db]
GO
/****** Object:  Table [dbo].[HvkAccount]    Script Date: 03/07/2024 2:09:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HvkAccount](
	[HvkID] [int] NOT NULL,
	[HvkUserName] [nvarchar](50) NULL,
	[HvKPassword] [nvarchar](50) NULL,
	[HvkFullName] [nvarchar](50) NULL,
	[HvkEmail] [nvarchar](50) NULL,
	[HvkPhone] [nvarchar](50) NULL,
	[HvkAtive] [bit] NULL,
 CONSTRAINT [PK_HvkAccount] PRIMARY KEY CLUSTERED 
(
	[HvkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HvkAccount] ([HvkID], [HvkUserName], [HvKPassword], [HvkFullName], [HvkEmail], [HvkPhone], [HvkAtive]) VALUES (1, N'HoangKhai', N'123456', N'Hoang Van Khai', N'Khai135668@gmail.com', N'0866983529', 1)
GO
