USE [HvkK22CNT4Lesson07Db]
GO
/****** Object:  Table [dbo].[hvkKhoa]    Script Date: 12/06/2024 2:45:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hvkKhoa](
	[HvkKH] [nchar](10) NOT NULL,
	[HvkTenKH] [nvarchar](50) NULL,
	[HvkTrangThai] [bit] NULL,
 CONSTRAINT [PK_hvkKhoa] PRIMARY KEY CLUSTERED 
(
	[HvkKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hvkSinhVien]    Script Date: 12/06/2024 2:45:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hvkSinhVien](
	[HvkMaSV] [nvarchar](50) NOT NULL,
	[HvkHoSV] [nvarchar](50) NULL,
	[HvkTenSV] [nvarchar](50) NULL,
	[HvkNgaySinh] [date] NULL,
	[HvkPhai] [bit] NULL,
	[HvkPhone] [nchar](10) NULL,
	[HvkEmail] [nvarchar](50) NULL,
	[HvkMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_hvkSinhVien] PRIMARY KEY CLUSTERED 
(
	[HvkMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
