
@{
    ViewBag.Title = "Hoang Van Khai - index ";
}

<h2>Hoang Van Khai</h2>
<hr/>
<h3>Hien thi du lieu lay tu Action trong conntroller</h3>
<h4>fullname: @ViewBag.fullname</h4>
<h4>Ngay sinh: @ViewData["Birtday"]</h4>
<h4>Di Dong: @TempData["Phone"]</h4>

