@{
    ViewBag.Title = "Hoàng Văn Khải";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài lesson07 của Hoàng Văn Khải - Cam kết không đạo bài </h3>

    <address>
       K22CNT4 - Môn lập trình ứng dụng web với công nghệ ASP.Net với MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@example.com">chungtrinhj@example.com</a><br />
        <strong>Sinh viên:</strong> <a href="mailto:khai135668@gamil.com">khai135668@gamil.com</a>
    </address>
</main>